In [3]:
import pandas as pd
import os

In [9]:
ds = pd.read_csv("./data/customer-support-on-twitter/sample.csv")
print(ds.head)

<bound method NDFrame.head of     tweet_id     author_id  inbound                      created_at  \
0     119237        105834     True  Wed Oct 11 06:55:44 +0000 2017
1     119238  ChaseSupport    False  Wed Oct 11 13:25:49 +0000 2017
2     119239        105835     True  Wed Oct 11 13:00:09 +0000 2017
3     119240  VirginTrains    False  Tue Oct 10 15:16:08 +0000 2017
4     119241        105836     True  Tue Oct 10 15:17:21 +0000 2017
..       ...           ...      ...                             ...
88    119330        105859     True  Wed Oct 11 13:50:42 +0000 2017
89    119331        105860     True  Wed Oct 11 13:47:14 +0000 2017
90    119332         Tesco    False  Wed Oct 11 13:34:06 +0000 2017
91    119333        105861     True  Wed Oct 11 14:05:18 +0000 2017
92    119335         Tesco    False  Wed Oct 11 15:38:07 +0000 2017

                                                 text response_tweet_id  \
0   @AppleSupport causing the reply to be disregar...            119236
1   @105835 Your business means a lot to us. Pleas...               NaN
2   @76328 I really hope you all change but I'm su...            119238
3   @105836 LiveChat is online at the moment - htt...            119241
4   @VirginTrains see attached error message. I've...            119243
..                                                ...               ...
88  @105860 I wish Amazon had an option of where I...            119329
89  They reschedule my shit for tomorrow https://t...            119330
90  @105861 Hey Sara, sorry to hear of the issues ...            119333
91  @Tesco bit of both - finding the layout cumber...     119335,119336
92  @105861 If that doesn't help please DM your fu...               NaN

    in_response_to_tweet_id
0                       NaN
1                  119239.0
2                       NaN
3                  119242.0
4                  119240.0
..                      ...
88                 119331.0
89                      NaN
90                 119334.0
91                 119332.0
92                 119333.0

[93 rows x 7 columns]>